{% extends 'base.html' %}

{% block title %}HSGW{% endblock %}

{% block content %}
<div class="row" id="wine-info">
    <h1 class="col">agenda 2025</h1>
    <p class="col" style="grid-column: 2 / span 2;">Wijngaardeniers hebben toegang tot de wijngaard. We verzoeken je om de zwartstroken onder de druiven onkruidvrij te houden. Door het jaar heen zullen via de app-groep een aantal momenten prikken om samen aan de slag te gaan, maar je kan het natuurlijk ook doen op momenten die jou beter uitkomen.</p>
</div>

<div class="row" id="xtr-info">
    <div class="col" style="grid-column: 4 / span 3;" id="agenda-timeline">
        <h2>Gewaswerk door het jaar heen</h2>
        <hr>
        Vrijdag 17 januari: 1e deel jaarlijkse lezing.  aanvang 18.30 uur. Je krijgt de link via de mail en app. Heb je hem niet gekregen – neem dan even contact op.

        <p>Zaterdag 25 januari: wintersnoei, vanaf 13.00 uur Snoeischaar mee!!</p>

        <p>Zondag 26 januari: wintersnoei, vanaf 13.00 uur Snoeischaar mee!! En extra draden spannen (aanvang na overleg met de harde werkers)</p>

        <p>Zaterdag 05 april: stammen poetsen, 13.00 uur</p>

        <p>Zaterdag 10 mei: 2e deel jaarlijkse lezing.  aanvang 18.30 uur. Je krijgt de link via de mail en app. Heb je hem niet gekregen – neem dan even contact op.</p>

        <p>Zaterdag 24 mei: instructie gewas opbinden. 13.00 uur . .. en weer: snoeischaar mee.</p>

        <p>Zaterdag 07 juni: gewas opbinden en mogelijk bladpluk. 13.00 uur . .. en weer: snoeischaar mee.</p>

        <p>Zaterdag 21 juni: gewas opbinden. 13.00 uur . .. en weer: snoeischaar mee.</p>

        <p>Zaterdag 05 juli: gewas opbinden. 13.00 uur . .. en weer: snoeischaar mee.</p>

        <p>Zaterdag 12 juli: Zomerfeest / Diner</p>

        <p>Zaterdag 19 en zondag 20 juli: gewas opbinden + zomersnoei + bladpluk én netten plaatsen voor de Rondo. Weer om 13.00 uur</p>
        
        <br>
        <h2>Vanaf hier zullen er via de app groep acties uitgezet worden voor Bladpluk, Netten spannen en Snoeien om zo de druifjes optimaal de laatste maanden door te loodsen. Dit is best een grote klus. Via de app-groep zullen er meerdere data doorgegeven worden.</h2>

        <p>Zaterdag 02 augustusi: Bladpluk + overige netten spannen. Wederom: 13.00 uur.</p>

        <p>Zaterdag23 augustus: snoeien van uitlopers en dieven. Wederom: 13.00 uur.</p>

        <p>Zaterdag 06 september: snoeien van uitlopers en dieven. Wederom: 13.00 uur.</p>

        <p>Zaterdag 13 september: open dag in de wijngaard. 11.00-16.30 uur.  </p>

        <br>
        <h2>Mogelijke oogstdata (onder voorbehoud van vele factoren; we blijven tenslotte wijn”boeren”):</h2>
        <hr>

        <p>Zaterdag 20 september: oogst Rondo vanaf 13.00 uur – Definitieve data TBD </p>

        <p>Zaterdag 04 oktober: oogst Johanniter (en Leon Millot) vanaf 13.00 uur – Definitieve data TBD </p>

        <p>Zaterdag 11 oktober: oogst Souvignier Gris, vanaf 13.00 uur – Definitieve data TBD </p>

        <p>Alle data zijn onder voorbehoud van weersverwachting en plant/vruchtontwikkeling. De activiteiten zijn altijd gezamenlijk in de wijngaard, tenzij anders aangegeven!</p>

        <p>Het komt regelmatig voor dat er rond een datum nog enkele momenten volgen om het werk af te maken of extra werkzaamheden noodzakelijk zijn op de wijngaard buiten de agenda. </p>

    </div>
</div>
{% endblock %}