<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ base_path }}static/favicon.ico" sizes="any">
    <link rel="icon" href="{{ base_path }}static/favicon.svg" type="image/svg+xml">
    <meta name="theme-color" content="#FFFFFF">
    <title>{% block title %}HSGW{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_path }}static/styles.css">
</head>
<body>
    <div class="video-container">
        <video id="background-video" muted loop playsinline autoplay>
            <source src="{{ base_path }}static/content/videos/{{ video_filename }}" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2">
            why doesnt your browser support video play?
        </video>
    </div>
    <nav class="row">
        <a href="{{ base_path }}index.html" class="col">HSGW</a>
        <a href="{{ base_path }}about.html" class="col">over ons</a>
        <a href="{{ base_path }}join.html" class="col">doe mee</a>
        <a href="{{ base_path }}agenda.html" class="col">agenda</a>
        <a href="{{ base_path }}repertoire.html" class="col">repertoire</a>
        <a href="{{ base_path }}contact.html" class="col">contact</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ base_path }}static/script.js"></script>
</body>
</html>