{% extends 'base.html' %}

{% block title %}HSGW // {{ wine_name }}{% endblock %}

{% block content %}
<div class="row" id="wine-info">
    <div class="col">
        <a href="/repertoire/Johanniter" class="img-bottle-name">Johanniter</a>

    </div>
    <div class="col">
        <a href="/repertoire/Souvenir Gris" class="img-bottle-name">Souvenir Gris</a>

    </div>
    <div class="col">
        <a href="/repertoire/Rondo" class="img-bottle-name">Rondo</a>

    </div>
    <div class="col">
        <a href="/repertoire/Grappa" class="img-bottle-name">Grappa</a>

    </div>
</div>

{% endblock %}