{% extends 'base.html' %}

{% block title %}HSGW // {{ wine_name }}{% endblock %}

{% block content %}
<div class="row" id="wine-info">
    <div class="col">
        <a href="{{ base_path }}repertoire/johanniter.html" class="img-bottle-name">Johanniter</a>

    </div>
    <div class="col">
        <a href="{{ base_path }}repertoire/souvenir-gris.html" class="img-bottle-name">Souvenir Gris</a>

    </div>
    <div class="col">
        <a href="{{ base_path }}repertoire/rondo.html" class="img-bottle-name">Rondo</a>

    </div>
    <div class="col">
        <a href="{{ base_path }}repertoire/grappa.html" class="img-bottle-name">Grappa</a>

    </div>
</div>

{% endblock %}